In [7]:
import pickle 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [8]:
df = pd.read_csv("C:\\Users\\Syed\\Documents\\Networking Lab\\Spam Detection\\emails.csv")
df.head(20)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
5,Email 6,4,5,1,4,2,3,45,1,0,...,0,0,0,0,0,0,0,0,0,1
6,Email 7,5,3,1,3,2,1,37,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Email 8,0,2,2,3,1,2,21,6,0,...,0,0,0,0,0,0,0,1,0,1
8,Email 9,2,2,3,0,0,1,18,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Email 10,4,4,35,0,1,0,49,1,16,...,0,0,0,0,0,0,0,0,0,0
10,Email 11,22,14,2,9,2,2,104,0,2,...,0,0,0,0,0,0,0,1,0,0
11,Email 12,33,28,27,11,10,12,173,6,12,...,0,0,0,0,0,0,0,5,0,0
12,Email 13,27,17,3,7,5,8,106,3,0,...,0,0,0,0,0,0,0,4,0,0
13,Email 14,4,5,7,1,5,1,37,1,3,...,0,0,0,0,0,0,0,2,0,0
14,Email 15,2,4,6,0,3,1,16,0,3,...,0,0,0,0,0,0,0,1,0,0
15,Email 16,6,2,1,0,2,0,36,3,1,...,0,0,0,0,0,0,0,0,0,0
16,Email 17,3,1,2,2,0,1,17,0,0,...,0,0,0,0,0,0,0,1,0,1
17,Email 18,36,21,6,14,7,17,194,25,5,...,0,0,0,0,0,0,0,3,0,1
18,Email 19,1,3,1,0,2,0,14,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Email 20,3,4,11,0,4,2,32,1,5,...,0,0,0,0,0,0,0,1,0,0

In [9]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [10]:
X = df.iloc[:,1:3001]
Y = df.iloc[:,-1].values
print(df.iloc[0:0,1:3001])

Empty DataFrame
Columns: [the, to, ect, and, for, of, a, you, hou, in, on, is, this, enron, i, be, that, will, have, with, your, at, we, s, are, it, by, com, as, from, gas, or, not, me, deal, if, meter, hpl, please, re, e, any, our, corp, can, d, all, has, was, know, need, an, forwarded, new, t, may, up, j, mmbtu, should, do, am, get, out, see, no, there, price, daren, but, been, company, l, these, let, so, would, m, into, xls, farmer, attached, us, information, they, message, day, time, my, one, what, only, http, th, volume, mail, contract, which, month, more, ...]
Index: []

[0 rows x 3000 columns]

In [11]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size = 0.25)

In [12]:
rfc = RandomForestClassifier(n_estimators=100,criterion='gini')
rfc.fit(train_x,train_y)
y_pred3 = rfc.predict(test_x)
print("Accuracy Score : ", accuracy_score(y_pred3,test_y))

Accuracy Score :  0.97138437741686

In [13]:
# mnb = MultinomialNB(alpha=1.9)         
# mnb.fit(train_x,train_y)
# y_pred1 = mnb.predict(test_x)
# print("Accuracy Score for Naive Bayes : ", accuracy_score(y_pred1,test_y))

In [14]:
email_spam_model = 'email_spam_model.sav'
pickle.dump(rfc, open(email_spam_model, 'wb'))

In [15]:
loaded_model = pickle.load(open(email_spam_model, 'rb'))
result = loaded_model.predict(test_x) 
print(result)

[1 0 0 ... 0 0 1]